streamlit==1.49.1
streamlit-sortables==0.3.1
pandas==2.3.2
numpy==2.2.6
opencv-python-headless
google-cloud-vision==3.13.0
google-generativeai==0.8.6
matplotlib==3.10.6
openpyxl==3.1.5
pillow==11.3.0
pycountry==26.2.16
thefuzz==0.22.1
